@keyframes width20{
  0%{width: 0vw;background: blue;}
  50%{width: 90vw;background: blue;}
  100%{width: 0vw;background: blue;}
}
@keyframes width100{
  0%{width: 100vw;background: blue;}
  50%{width: 50vw;background: blue;}
  100%{width: 100vw;background: blue;}
}
@keyframes animation{
  0%{line-height: 0vh;background: green;animation:width20;animation-iteration-count: infinite;animation-duration: 20s;}
  50%{line-height: 70vh;background: green;animation:width100;animation-iteration-count: infinite;animation-duration: 20s;}
  100%{line-height: 0vh;background: green;animation:width20;animation-iteration-count: infinite;animation-duration: 20s;}
}


.body{
  height:95vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.person-block{
  cursor: pointer;
  margin: 5px;
  width: 15em;
}